android/app/google-services.json
lib/firebase_options.dart
.dart_tool/
build/
ios/Pods/
macos/Pods/
pubspec.lock
**/.DS_Store
.idea/
.vscode/
.gradle/
**/DerivedData/
**/xcuserdata/
**/*.iml
.packages
.metadata
.flutter-plugins
.flutter-plugins-dependencies
coverage/
**/GeneratedPluginRegistrant.*
linux/flutter/ephemeral/
windows/flutter/ephemeral/
web/.dart_tool/
